.containerDisplay {
    border: 20px solid goldenrod;
    height: 300px;
    width: 400px;
    border-radius: 35px;
}

.valueError {
    color: red;
    font-size: 40px;
}

.value {
    color: black;
    font-size: 40px;
}
